html{
    font-size:2vw;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#header_top{
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    background-color: #03045ebb;
    color: #d7f8ff;
    display: flex;
    text-align: center;
    align-items: center;
}

#wrapper{
    max-width: 1000px;
    margin: auto;
    background-color: #ade8f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#avascript_message{
    display: none;
}
#h1_link:link, #h1_link:visited{
    color: #caf0f8;
}

/* #p_06, #p_07{
    background-color: #d7f8ff;
    border: 1px solid rgb(245, 115, 115);
} */

#name_found{
    background-color: greenyellow;
}

#last_section{
    border: none;
}


#the_form{
   
    border: #03045e 3px solid;
    background-color:#00d9ff;
    padding: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 16px;
}

#div_1, #div_2, #div_3, #div_4, #div_5{
    padding: 8px;
    margin: 8px 0px 8px 0px;
    border: 2px solid red;
    background-color: white;
    color:red;
}

#quantity_div{
    display: flex;
}

#quantity{
    max-width: 25%;
    flex: 1;
}

#quantity_lable{
    padding-right: 5px;
    flex: 1;
}




#pop-up{
	/* remove this popup from normal page flow */
    display: none;
    position:fixed;
    top:0px;
    left:0px;    
	/* fill the entire viewport */
    width:100vw;
    height:100vh;    
	/* ensure it is over-top all other page elements */
	z-index:1000;
	/* transparency allows user to see content behind */
	background-color: #03055e6f;    
	font-size:.85em;
}
#pop-up div{
	/* vertically/horizontally center this element*/
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);

	/* basic box model stuff*/
	max-width:400px;
	min-width:300px;
	padding:10px;
	border-radius:10px;
	box-shadow: 0 0 0 2px #9495f8,
		        0 0 0 4px #3d3eaa, 
				0 0 0 8px #0c0d6e;;
	background-color: #d7f8ff;
	color: black;
}
/* the close X button*/
#close-pop-up{
	background-color: #b9f0fc;
	color:#3d3eaa;
	border-radius: 50%;
	font-weight: bold;
	border:solid 3px #0c0d6e;
	/*
	make a 'hand' pointer icon appear on mouseover
	otherwise it will just be the usual mouse cursor arrow
	*/
	cursor:pointer;
	/*
	locate this X button in the 
	top right corner of the popup
	*/
	position:absolute;
	top:-10px;
	right:-10px;
}
#close-pop-up:hover, 
#close-pop-up:focus, 
#close-pop-up:active{
	background-color: rgb(145, 232, 235);
	color:white;
	transform: scale(1.3);
}


#btn_div{
    display: flex;
    justify-content:space-evenly;
}

#btn_start_animation, #btn_stop_animation{
    flex: 1;
    max-width: 100px;
    padding: 8px 0px 8px 0px;
    margin: 16px;
    border:#03045e solid 1px;
    background-color:#00b4d898;
    color: white;
}


.found, .error {
    border: 1px solid #03045e;
    padding: 8px;
}

.found{
    background-color: rgb(89, 214, 89);
    
}
.error {
    background-color: rgb(225, 22, 22);
    color: white;
}




.show {
	display: block;
}

.btn-menu{
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    background: none;
	border: none;
    color: #caf0f8;
	font-size: 18px;
	text-transform: uppercase;
    font-weight: bold;
    text-align: left;
	cursor: pointer;
}

.last_p{
    margin-bottom: 0px;
}


.fa-face-smile{
    color: rgb(0, 134, 9);
}

.hand{
    display: flex;
    border: 6px solid rgb(127, 55, 16);
    border-radius: 10px;
    background-color: green;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px 10px 5px;
}

.hand img{

    max-width: 18%;
    height:auto;
    flex:1;
    margin: 0px;
    padding: 0px;
   

}

.input-label-group{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.input-label-group input, .input-label-group select{
    flex:1;
    border: #023e8a 2px solid;
}

.input-label-group label{
   padding-right: 16px;
}

.fieldset {
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.gallery_1, .gallery_2, .gallery_3{
    background-color: white;
    border: #03045e 2px solid;
}

.main-slide img{
    margin: 0px;
    padding: 0px;
}

.thumbs img{
    margin: 0px;
    padding: 2px;
    pointer-events: none;
    max-width: 100%;
    height: auto;
}

.thumbs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}






h1,h2,h3,h4,h5,h6{
    font-family: 'abhaya_libre', serif;
}

body{
    margin: 0;
    background-color: #00b4d8;
}

header{
   
    background-image: url('../images/bcit.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

main{
    flex:1;
    margin: 0px;
    padding: 0px;
}

h2{
    margin: 16px 16px 16px 16px;
}

h3{
    margin: 0px 0px 16px 0px;
}


footer{
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #023e8a;
    color: white;
}

footer ul{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

footer h4{
    margin: 16px 16px 8px 16px;
}

img{
    padding-right: 18px;
    margin-top: 16px;
    display: block;
    width: 100%;
    height: auto;
}

header h1{
    margin: 0px;
    flex:1;
    padding-right: 73px;
}

nav {
    background-color: #0096c7aa;
	display:none;
    margin: 0px;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 16px 16px 11px 16px;
    list-style: none;
    text-align: center;
}
nav a{
    display: block;
    background-color: #03045ebb;
    margin: 0px 0px 5px 0px;
    padding: 8px 0px 8px 0px;
}

nav a:link{
    color: #d7f8ff;
    text-decoration: none;
}

nav a:visited{
    color: #d7f8ff;
    text-decoration: none;
}

nav a:hover, a:focus, a:active{
    color: #03045e;
    background-color: #d7f8ffbb;
   
}

a{
    word-wrap: break-word;
}

a:link{
    color: #48cae4
}

a:visited{
    color:#0077b6;;
}

a:hover, a:focus, a:active{
    color: #d7f8ff;
    background-color: #03045e;
}

ol, ul{
    padding-left: 20px;
    margin-bottom: 0px;
}

ul{
    list-style: circle;
}

ol{
    list-style:upper-roman;
    padding-left: 25px;
}



section{
    /* display: flex; */
    /* flex-direction: column; */
    border-bottom: 2px solid #00b4d8;
    margin: 0px;
    padding: 0px 16px 16px 16px;
}
article{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#d7f8ff;
    margin: auto;
    padding: 8px 8px 8px 8px;
}

section h2{
    margin: 16px 0px 16px 0px;
}

footer a{
    text-decoration: none;
}

footer a:visited{
    color: #89aaba;
}

li p{
    margin-left: 10px;
}

footer a:hover, a:focus, a:active{
    color: #03045e;
    background-color: #d7f8ff;
}

article img{
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px;
}




@media screen and (max-width: 650px){
    html{
        font-size: 13px;
    }
}

@media screen and (min-width: 800px){
    html{
        font-size: 18px;
    }
}


/* @media (min-width: 400px){
    article img{
        max-width: 60%;
        height: auto;
    }
} */

@media (min-width: 600px){

    /* article img{
        max-width: 45%;
        height: auto;
    } */

    .btn-menu{
        display: none;
    }
    header h1{
        padding: 0px;
    }

    nav{
        display: block;
    }

    nav ul{
       flex-direction: row;
       padding-top: 8px;
       padding-bottom: 8px;
    }
    nav li{
        flex:1;
        margin: 4px;
    }

    nav a{
        margin: 0px;
        padding: 8px 0px 8px 0px;

    }

    

    .grid_1{
        display: grid;

        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 8px 16px;
        

    }
/* 
    .grid_2{
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 32px 16px;
        

    }

    #art_1{
       grid-area: 1/1/1/span 2;
    }

    #art_2{
        grid-area: 2/1/2/1;
    }

    #art_3{
        grid-area: 2/2/2/2;
    } */

   

    .img_and_ul{
        display: grid;
        grid-template-columns: 4.5fr 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }


    article{
        max-width: 70%;
    }
    

}


@media (min-width:700px){
	#pop-up{
		font-size:1em;
	}
}

@media (min-width: 1000px){


    /* article img{
        max-width: 30%;
        height: auto;
    } */


    /* .grid_1{
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 8px 16px;
        

    }

    .grid_2{
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 32px 16px;
        

    }

    #art_1{
       grid-area: 1/1/1/1;
    }

    #art_2{
        grid-area: 1/3/span 2/3;
    }

    #art_3{
        grid-area: 1/2/1/2;
    } */


    /* #last_article{
        grid-area:auto;
    }
    

    #div_article_5{
      
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0px 16px;
    }

    #last_article{
        grid-area: 2 /1 / 2 / span 3;
        
    }

    #last_article_div{
        display: flex;
        justify-content: space-between;
    }
    
    #p_06{
        margin-right: 16px;
    } 

    .img_and_ul{
        display: block;
    }
    */
    header{
        padding-right: 16px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-gap: 250px;
        
        
    }
    header nav{
        grid-area: 1/1/1/1;
    }

    header div{
        
        grid-area: 1/2/1/2;
    }

    header nav{
        align-items: center;
        background: none;
    }

    header a{
        background-color: #03045ebb;;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    
}

@font-face {
    font-family: 'abhaya_libre';
    src: url('../fonts/AbhayaLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'abhaya_libre';
    src: url('../fonts/AbhayaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya_sans';
    src: url('../fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya_sans';
    src: url('../fonts/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}