

$header_color: #03045ebb;
$dark_color: #03045e;
$dark_color_transparent: #03045edf;
$red_color: rgb(191, 3, 3);
$blue_color: rgb(19, 71, 245,0.6);
$red_color_transparent: rgb(191, 3, 3);
$blue_color_transparent: rgb(19, 71, 245,0.6);
$secondary_color: #ade8f4;
$beige_purple: #d7e1ff;
$wrapper_color: darkgrey;



@mixin pop-up-border($color_in, $color_out){
    box-shadow: 0 0 0 4px $color_in,
				0 0 0 8px $color_out;;
}



html{
    font-size:2vw;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#header_top{
    background-image: url('../images/header.jpg');
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $header_color;
    color: #d7f8ff;
   
}

#wrapper{
    max-width: 1000px;
    margin: auto;
    background-image: linear-gradient(to right, $blue_color_transparent, $red_color_transparent);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#avascript_message{
    display: none;
}

#h1_link:link, #h1_link:visited{
    color: #caf0f8;
}


#the_form{
   
    background: none;
    padding: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 16px;
}



#pop-up, #pop-up_2{
	/* remove this popup from normal page flow */
    display: none;
    position:fixed;
    top:0px;
    left:0px;    
	/* fill the entire viewport */
    width:100vw;
    height:100vh;    
	/* ensure it is over-top all other page elements */
	z-index:1000;
	/* transparency allows user to see content behind */
	background-color: #03055e6f;    
	font-size:.85em;
}
#pop-up div{
	/* vertically/horizontally center this element*/
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);

	/* basic box model stuff*/
	max-width:400px;
	min-width:300px;
	padding:10px;
	border-radius:10px;
    @include pop-up-border(#9495f8, #0c0d6e);
	
	background-color: $dark_color_transparent;
	color: white;
}

#pop-up_2 div{
	/* vertically/horizontally center this element*/
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);

	/* basic box model stuff*/
	max-width:400px;
	min-width:300px;
	padding:10px;
	border-radius:10px;
	@include pop-up-border(#3d3eaa, $beige_purple);
	background-color: $beige_purple;
	color: black;
}

#close-pop-up{
	background-color: $beige_purple;
	color:#3d3eaa;
	border-radius: 50%;
	font-weight: bold;
	border:solid 3px #3d3eaa;
	
	cursor:pointer;
	
	position:absolute;
	top:-10px;
	right:-10px;
}
#close-pop-up:hover, 
#close-pop-up:focus, 
#close-pop-up:active{
	background-color: #3d3eaa;
	color:white;
	transform: scale(1.3);
}


#btn_div{
    display: flex;
    justify-content:space-evenly;
}

#btn_new_game{
    flex: 1;
    max-width: 100px;
    padding: 8px 0px 8px 0px;
    margin: 16px;
    border:white solid 1px;
    background-color:#1a21f6;
    color: white;
}

#btn_roll{
    flex: 1;
    max-width: 100px;
    padding: 8px 0px 8px 0px;
    margin: 16px;
    border:white solid 1px;
    background-color:#1a21f6;
    color: white;
}


#btn_roll:hover, #btn_new_game:hover, #submit:hover{
  
    border:white solid 1px;
    background-color: white;
    color: #1a21f6;
}


#btn_roll:disabled{
    flex: 1;
    max-width: 100px;
    padding: 8px 0px 8px 0px;
    margin: 16px;
    border:#03045e solid 1px;
    background-color:#16171798;
    color: rgb(162, 162, 162);
}



#player_article, #pc_article{
    margin: 0px auto 16px auto;
    border: $dark_color solid 2px;
    color: white;
}

#round_img{
    margin: 0px;
    padding: 0px;
}

#round_h2, #round_h3{
    
  
    text-align: center;
}

#game_name{
    color: black;
    font-size:1.8em;
    letter-spacing: 0.15em;
    text-shadow: -1px -1px 0 rgb(	255, 225, 53), 1px -1px 0 rgb(	255, 225, 53), -1px 1px 0 rgb(	255, 225, 53), 1px 1px 0 rgb(	255, 225, 53);
    
}

#header_h1{
    background-color: $header_color;
    text-align: center;
    padding: 16px 0px 16px 0px;
}

#submit_fieldset{
    display: flex;
}

#submit{
    max-width: 60%;
    flex: 1;
    padding: 8px 0px 8px 0px;
    margin: 16px;
    border:white solid 1px;
    background-color:#1a21f6;
    color: white;
}



.input-label-group{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.input-label-group input, .input-label-group select{
    flex:1;
    border: #023e8a 2px solid;
}

.input-label-group label{
   padding-right: 16px;
}

.fieldset {
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


.dice_hand{
    display: flex;
    flex-direction: row;
    img{
        max-width: 40%;
        height: auto;
    }
}



h1,h2,h3,h4,h5,h6{
    font-family: 'star_wars', serif;
    letter-spacing: 0.1em;
}

body{
    margin: 0;
    background-image: url("../images/background_jedi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
}

header{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: right;
}


header h1{
    margin: 0px;
    flex:1;
    padding-right: 73px;
}



h2{
    margin: 16px 16px 16px 16px;
}

h3{
    margin: 0px 0px 16px 0px;
}



img{
    padding-right: 18px;
    margin-top: 16px;
    display: block;
    width: 100%;
    height: auto;
}





main{
    flex:1;
    margin: 0px;
    padding: 0px;
}





section{
   
    margin: 0px;
    padding: 0px 16px 16px 16px;
}

section h2{
    margin: 16px 0px 16px 0px;
}







article{
    max-width: 100%;
  
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 8px 8px 8px 8px;
}
article img{
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px;
}








footer{
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, rgb(19, 71, 245), rgb(191, 3, 3));
    color: white;
}

footer ul{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

footer h4{
    margin: 16px 16px 8px 16px;
}


footer a{
    text-decoration: none;
}

footer a:visited{
    color: #89aaba;
}

footer a:hover, a:focus, a:active{
    color: #03045e;
    background-color: #d7f8ff;
}







a{
    word-wrap: break-word;
}

a:link{
    color: #48cae4
}

a:visited{
    color:#0077b6;;
}

a:hover, a:focus, a:active{
    color: #d7f8ff;
    background-color: #03045e;
}







ol, ul{
    padding-left: 20px;
    margin-bottom: 0px;
}

ul{
    list-style: circle;
}

ol{
    list-style:upper-roman;
    padding-left: 25px;
}







@media screen and (max-width: 650px){
    html{
        font-size: 13px;
    }
}

@media screen and (min-width: 800px){
    html{
        font-size: 18px;
    }
}

@media (min-width: 600px){


    #game{
        display: flex;
        flex-direction: row;

        #player_article{
            margin-right: 8px;
        }

        #pc_article{
            margin-left: 8px;
        }
    }
   

    .btn-menu{
        display: none;
    }
    header h1{
        padding: 0px;
    }

    nav{
        display: block;
    }

    nav ul{
       flex-direction: row;
       padding-top: 8px;
       padding-bottom: 8px;
    }
    nav li{
        flex:1;
        margin: 4px;
    }

    nav a{
        margin: 0px;
        padding: 8px 0px 8px 0px;

    }

    

    .grid_1{
        display: grid;

        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 8px 16px;
        

    }

    .img_and_ul{
        display: grid;
        grid-template-columns: 4.5fr 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }


    article{
        max-width: 70%;
    }
    

}


@media (min-width:700px){
	#pop-up{
		font-size:1em;
	}
}

@media (min-width: 1000px){


  
}

@font-face {
    font-family: 'abhaya_libre';
    src: url('../fonts/AbhayaLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'abhaya_libre';
    src: url('../fonts/AbhayaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya_sans';
    src: url('../fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya_sans';
    src: url('../fonts/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'star_wars';
    src: url('../fonts/Restore\ W00\ Regular.woff') format('woff'),
        url('../fonts/Restore\ W00\ Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}